@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#000000;
}

.desplegable{
    width: 10px;
}

header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-family: sans-serif;
    line-height: 24px;
    height: 88px;
    padding: 40px 0;
}
.navigator_ppal_seccion{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 20px;
  
}

.logo{
    width: 187px;
    padding: 29px 0 29px 40px;
}
.navigator-ppal{

    display: flex;
    gap: 20px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navigator-ppal_boton{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.navigator-ppal_boton_nuevo{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.navigator-ppal {

    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navigator-ppal a:hover {
  color: #007BFF; /* o el color que quieras para el hover */
}

.sel-pais{

    width: 65px;
    height: 30px;
    border: 1px;
    border-style:dashed;
    border-radius: 5px;
    border-color:#cec6c6;
    /* Esto ajusta por defecto los tamaños hasta la caja de borde asi toda la caja respeta el tamaño */
    box-sizing:content-box;
    margin-bottom: 10px;
    margin-right: 5px;
}

.flag-pais{
    margin-top: 10px;
    width: 35px;
    height: 18px;
}

.ingresar-btn{

    width: 80px;
    height: 35px;
    background-color: white;
    padding: 0px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}

div.botones-head{

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    font-weight: bold;
    
}
.main-superior{
    display: flex;
    justify-content: Space-evenly;
    padding-top: 50px;
    font-family: sans-serif;
    color: rgb(10, 10, 114);
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.main-superior-izquierda{

    width: 440px;
}
.lista_con_imagen{
    
    margin-top: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: end;
    gap: 8px;
}
.content-spam--main-superior-izquierda span{

    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
.subtitle{
    font-family: sans-serif;
    font-size: 35px;
    margin-bottom: 8px;
}
.texto-pequeño{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    list-style: none;
    padding-left: 0;
    font-weight:400;
}
.texto-mediano{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.remarcar-descuento{
    color:#0b7bf3;
}
.imagen-span{
    width: 25px;
    height: 25px;
}
.main-superior-izquierda{
    margin-top: 0;
    margin-left: 0;
}
.precios-main{
    font-family: "DM Sans", sans-serif;
    font-size: 48px;
}
.boton-comprar{
    color: white;
    width: 190px;
    height: 46px;
    background-color: #673de6;
    border: none;
    border-radius: 8px;
    margin: 10px;
    padding: 12px 48px;
}
.boton-timer{

    color: #673de6;
    width: 160px;
    height: 48px;
    background-color: #e2dbfc;
    border: none;
    border-radius: 8px;
    margin: 10px;
 
}
.precios-main{
    margin-top: 5px;
    margin-bottom: 2px;
}
.novedad{

    display: inline-flex;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    width: 41,5px;
    height: 24px;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #def4f0;
    color: #008361;
    align-items: center;

}

.main-superior-derecha_img{
    width: 616px;
}
.recomendaciones{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin: 0 200px;
}
.recomendaciones_superior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.recomendaciones_superior_img{
    width: 30px;
    height: 30px;
}
.recomendaciones_resultados{
    display: flex;
    flex-direction: row;
    justify-content: Space-evenly;
    margin-top: 50px;
}
.recomendaciones_resultados_resultado{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: start;
}
.link_neutro{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}
.link{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #673de6;
}
.objeto_verde{
    color: #00B865;
}
.estrellas-alineadas{
    width: 200px;
}
.estrella_rellena{
    width: 20px;
}
.texto-muy-pequeño{
    font-size: 9px;
    font-family: "DM Sans", sans-serif
}
.recomendaciones_titulo{
    width: 80px;
}
.centrado_vert{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan_box_body{
    
    margin-top: 0;
    border: 1px;
    border-style: solid;
    border-color: #d5dfff;
    color: #2f1c6a;
    width: 300px;
    height: 900px;
    border-radius: 10px;
    align-items: center;
    padding: 47px 31px;
    background-color: #fafbff;
    overflow: hidden;
}
.plan_type{
 font-size: 18px;
 font-family: "DM Sans", sans-serif
}
.ahorro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

}
.tachado{
    text-decoration:line-through;
}
.ahorro_porcentaje{

    display: flex;
    background-color: #d5dfff;
    width: 140px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.plan_precio_box{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-around;
    margin-bottom: 50px;
}
.texto_monto{
    font-family: "DM Sans", sans-serif;
    font-size:40px;
}
.plan_subtitle{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.boton_elegir_plan{
    border: 2px;
    border-color: #673de6;
    border-style: solid;
    width: 245px;
    height: 47px;
    color: 673de6;
    border-radius: 10px;
    color: #673de6;
    font-weight:700;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    background-color:#00000000;
}
.boton_elegir_plan_especial{
    border: 2px;
    border-color: #673de6;
    border-style: solid;
    width: 245px;
    height: 47px;
    color: 673de6;
    border-radius: 10px;
    color: #ffffff;
    font-weight:700;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    background-color:#673de6;
}
.elegir{
    display: flex;
    flex-direction: column;
    gap: 12px;  
}
.lista_beneficios{
    margin-top: 30px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px;
    border-color: #d5dfff;
    border-top-style: solid;
    align-content: end;
    gap: 8px;
}
.li_con_imagen{
    font-family: "DM Sans", sans-serif;
    font-weight:lighter;
    display: flex;
    flex-direction: row;
}
.texto_delgado{
    font-weight: 350;
}
.texto_grueso{
    font-weight: 700;
}

.chat-button {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #673de6; /* Color tipo WhatsApp */
    color: white;
    border-radius: 50px;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: transform 0.3s ease;
}

.chat-button:hover {
    transform: scale(1.1);
}

.chat-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.plan_title{

    width: 300px;
    height: 40px;
    color: white;
    align-content: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px;
    border-style: solid;
}

.plan_title_ok{

    background-color: #8c85ff;
    border-color: #8c85ff;
}
.plan_body_with_tittle{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 2px;
        border-style: solid;
        border-color: #8c85ff;

}

.planes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.planes_titles{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.planes_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 100px;
}
.migracion{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1346;
    width: 100%;
    height: 600px;
    padding: 5px 100px;
    margin-top: 50px;
}
.migracion_top{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    gap: 10px;
    margin: 20px;

}
.migracion_center{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align:left;
    margin: 20px;
    width: 100%;

}
.migracion_item{

    display: flex;
    flex-direction: column;
    background-color: #2f1c6a;
    gap: 10px;
    height: 270px;
    width: 360px;
    padding: 20px;
    border-radius: 20px;
}
.migracion_items_img{
    width: 50px;
    height: 50px;
}
.testimonios{

    margin: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
.testimonio_video{

    width: 400px;
    border-radius: 20px;
}

.testimonio_comentario{

    width: 90%;
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    color: #2f1c6a;
    line-height: 36px;
    margin-bottom: 20px;
    
}

.testimonio_nombre{
    margin: 20px 0;
    padding-top: 20px;
    border-top: #d6d6d6;
    border-top-style: solid;
    border-top-width: 100%;
}

.plan_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.tarjetas_img{
    width: 150px;
    margin: 0;
}

.metricas{
    display: flex;
    flex-direction: row;
    justify-content: end end;
    margin: 30px 0;
    gap: 50px;
    background-color: #fafbff;
    color: #2f1c6a;
}
.metricas_detalles{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 160px 100px;
    gap: 20px;
    width: 600px;
}
.pastilla_grande{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    display: flex;
    background-color: #d5dfff;
    width: 280px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 600;
}
.cuadro-azul_extra{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1346;
    width: 100%;
    padding: 50px 100px;
    margin-top: 20px;

}
.cuadro-azul_extra_under{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    margin-top: 120PX;
}
.cuadro-azul_extra_under_derecha{
    width: 100%;
    margin: 0;
    padding: 0;
}
.cuadro-azul_extra_under_izquierda{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    gap: 30px;
}
.lista-check {
    list-style: none;
    padding-left: 0;
  }
  
  .lista-check li {
    position: relative;
    padding-left: 1.5em;
  }
  
  .lista-check li::before {
    content: "\F633"; /* Cambia esto por el código del ícono que quieras */
    font-family: "bootstrap-icons";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 0;
    color: white; /* Color azul Bootstrap */
  }
  .historias{
    margin-top: 50px;
    padding: 30px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2f1c6a;
  }
  .historias_subtitle{
    text-align: center;
  }
  .reseñas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  .reseña{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px;
    border-color: #cec6c6;
    border-style: solid;
    border-radius: 15px;
    width: 100%;
  }
  .reseña_head{
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #f4f5ff;
    width: 100%;
    padding: 20px 30px;
  }
  .reseña_head_data{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .reseña_body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    height: 300px;
  }
  .reseña_estrellas{
    color: #673de6;
  }